---
import BaseLayout from '../layouts/BaseLayout.astro';
import DeviceMock from '../components/DeviceMock';
import GraphPaper from '../components/GraphPaper';
import CrouwelCalendar from '../components/CrouwelCalendar';
import { getImage } from 'astro:assets';
import mountainsHero from '../assets/mountains-hero.jpg';

const optimizedImage = await getImage({
  src: mountainsHero,
  width: 1000,
  height: 700,
  format: 'webp',
  quality: 85
});
---

<BaseLayout title="Device Mock Test">
  <div style="position: relative; width: 100%; min-height: 150vh; display: flex; flex-direction: column; align-items: center;">
    <GraphPaper client:load />
    <div style="position: relative; margin-top: 10vh;">
      <DeviceMock client:load imageSrc={optimizedImage.src} />
    </div>
    <div style="position: relative; margin-top: 10vh; z-index: 10;">
      <CrouwelCalendar client:load />
    </div>
  </div>
</BaseLayout>

<style>
  /* Optional: Add some perspective for a more 3D feel */
  div {
    perspective: 1000px;
  }
</style>
