.debug {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 32px;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999; /* Increased z-index */
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
  font-size: 14px;
  letter-spacing: -0.01em;
  pointer-events: auto; /* Let mouse events pass through */
}
